
version: '3.8'


services:
  

  backend:

    build: ./backend
    ports:
      - "4000:4000"
    container_name: smi-backend


  frontend:

    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    container_name: smi-frontend
    depends_on:
      - backend